<h1>New rsvp</h1>

<% form_for(@rsvp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :Attendeename %><br />
    <%= f.text_field :Attendeename %>
  </p>
  <p>
    <%= f.label :Dinner %><br />
    <%= f.text_field :Dinner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rsvps_path %>